/* http://www.colourlovers.com/palette/3689674/Massaging_Colours_II */
body {
  height: 100%;
  width: 65%;
  margin: 4rem auto;
  max-height: 100%;
  font-family: "Sanchez", serif;
  font-size: 1.1rem;
  line-height: 1.25em;
  color: #020304;
}

h1, h2, h3 {
}

h1 {
  font-size: 2.5rem
}

h2 {
  font-size: 2rem
}

h3 {
  font-size: 1.5rem
}

a {
  color: #7CBAD9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2.title a {
  color: #D89F3C;
}

h2.title a:hover {
  text-decoration: none;
}

article.post {
  background-color: #E4E2DF;
  padding: 15px;
  margin: 15px 0px;
}

